<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Message</title>
  </head>
  <body
    style="
      font-family: 'DM Sans', Arial, sans-serif;
      background-color: #f2f4f6;
      color: #333333;
      margin: 0;
      padding: 0;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #f2f4f6; margin: 0; padding: 0"
    >
      <tr>
        <td align="center">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-image: url('https://api.ontezo.com/static/files/constants/bg.png');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 20px;
              overflow: hidden;
              padding: 20px;
            "
          >
            <tr>
              <td style="padding: 20px 30px; text-align: center; color: #fff">
                <img
                  src="https://api.ontezo.com/static/files/constants/ontezo-logo.png"
                  alt="Ontezo Logo"
                  style="max-width: 100px; height: auto; object-fit: contain"
                />
                <p style="color: #fff; margin-left: 10px">{{ date }}</p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  background-color: #fff;
                  padding: 40px 20px;
                  border-radius: 20px;
                "
              >
                <h1 style="margin-bottom: 0px">From {{ name }},</h1>
                <p style="margin-top: 20px">{{ message }}</p>
                <p style="text-align: left">
                  Best regards,<br />
                  <strong>{{ name }}</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: center;
                  font-size: 14px;
                  color: #666666;
                "
              >
                <div>
                  <a
                    href="https://www.instagram.com/ontezo_pk?igsh=anltcXo4NDdpb2dj"
                    ><img
                      src="https://api.ontezo.com/static/files/constants/insta.png"
                      alt="Instagram"
                      style="width: 24px; height: 24px; margin: 0 10px"
                  /></a>
                  <a href="https://x.com/ontezopk"
                    ><img
                      src="https://api.ontezo.com/static/files/constants/twitter.png"
                      alt="Twitter"
                      style="width: 24px; height: 24px; margin: 0 10px"
                  /></a>
                  <a href="https://youtube.com/@ontezopk?si=yLBarIEGLOSlwbRD"
                    ><img
                      src="https://api.ontezo.com/static/files/constants/youtube.png"
                      alt="YouTube"
                      style="width: 24px; height: 24px; margin: 0 10px"
                  /></a>
                </div>
                <p style="margin-bottom: 0px">
                  If you have any questions, feel free to message us at<br />
                  <a
                    href="mailto:support@ontezo.com"
                    style="
                      margin-top: 8px;
                      display: inline-block;
                      color: #007bff;
                      text-decoration: none;
                    "
                    >support@ontezo.com</a
                  >.
                </p>
                <p style="margin-top: 8px; margin-bottom: 0px">
                  All rights reserved by ONtezo Inc.
                </p>
                <p style="margin-top: 8px; margin-bottom: 0px">
                  5781 Spring St Salinas, Idaho 88606, United States
                </p>
                <p style="margin-top: 8px; margin-bottom: 0px">
                  <a
                    href="https://ontezo.com/ontezo-terms"
                    style="
                      color: #007bff;
                      text-decoration: none;
                      margin-right: 10px;
                    "
                    >Terms of use</a
                  >
                  |
                  <a
                    href="https://ontezo.com/privacy-policy"
                    style="
                      color: #007bff;
                      text-decoration: none;
                      margin-left: 10px;
                    "
                    >Privacy Policy</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
