<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Custom Plan on ONtezo</title>
  </head>
  <body
    style="
      font-family: 'DM Sans', Arial, sans-serif;
      background-color: #f2f4f6;
      color: #333333;
      margin: 0;
      padding: 0;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #f2f4f6; margin: 0; padding: 0"
    >
      <tr>
        <td align="center">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-image: url('https://api.ontezo.com/static/files/constants/bg.png');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 20px;
              overflow: hidden;
              padding: 20px;
            "
          >
            <tr>
              <td style="padding: 20px 30px; text-align: center; color: #fff">
                <img
                  src="https://api.ontezo.com/static/files/constants/ontezo-logo.png"
                  alt="Ontezo Logo"
                  style="max-width: 100px; height: auto; object-fit: contain"
                />
                <p style="color: #fff; margin-left: 10px">{{ date }}</p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  background-color: #fff;
                  padding: 40px 20px;
                  border-radius: 20px;
                "
              >
                <h1 style="margin-bottom: 0px">Dear {{ name }},</h1>
                <p style="margin-top: 20px">
                  I hope this message finds you well. We wanted to update you
                  regarding the support ticket {{ticketNumber}} you submitted on
                  {{createdAt}}. Our team has reviewed your request and we have
                  an update on the progress.
                </p>
                <p style="text-align: left; margin: 20px 0">
                  Current Status: {{ status }}
                </p>
                <p style="text-align: left; margin: 20px 0">
                  Your ticket has been assigned to our technical support team.
                </p>
                <p style="text-align: left; margin: 20px 0">
                  We appreciate your patience and are committed to resolving
                  your issue as swiftly and efficiently as possible. Should you
                  have any more questions or require further assistance in the
                  meantime, please do not hesitate to reach out.
                </p>
                <p style="text-align: left; margin: 20px 0">
                  Thank you for choosing ONtezo. We value your business and are
                  here to support you every step of the way.
                </p>
                <p style="text-align: left">
                  Best regards,<br />
                  The ONtezo Team
                </p>
                <div style="text-align: center; margin-bottom: 40px">
                  <a
                    href="https://ontezo.com/web/login"
                    style="
                      display: inline-block;
                      background-color: #007bff;
                      color: #ffffff;
                      padding: 15px 30px;
                      text-decoration: none;
                      border-radius: 5px;
                      font-size: 16px;
                    "
                    >Log in to your account</a
                  >
                </div>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: center;
                  font-size: 14px;
                  color: #666666;
                "
              >
                <div>
                  <a
                    href="https://www.instagram.com/ontezo_pk?igsh=anltcXo4NDdpb2dj"
                    ><img
                      src="https://api.ontezo.com/static/files/constants/insta.png"
                      alt="Instagram"
                      style="width: 24px; height: 24px; margin: 0 10px"
                  /></a>
                  <a href="https://x.com/ontezopk"
                    ><img
                      src="https://api.ontezo.com/static/files/constants/twitter.png"
                      alt="Twitter"
                      style="width: 24px; height: 24px; margin: 0 10px"
                  /></a>
                  <a href="https://youtube.com/@ontezopk?si=yLBarIEGLOSlwbRD"
                    ><img
                      src="https://api.ontezo.com/static/files/constants/youtube.png"
                      alt="YouTube"
                      style="width: 24px; height: 24px; margin: 0 10px"
                  /></a>
                </div>
                <p style="margin-bottom: 0px">
                  If you have any questions, feel free to message us at<br />
                  <a
                    href="mailto:support@ontezo.com"
                    style="
                      margin-top: 8px;
                      display: inline-block;
                      color: #007bff;
                      text-decoration: none;
                    "
                    >support@ontezo.com</a
                  >.
                </p>
                <p style="margin-top: 8px; margin-bottom: 0px">
                  All rights reserved by ONtezo Inc.
                </p>
                <p style="margin-top: 8px; margin-bottom: 0px">
                  5781 Spring St Salinas, Idaho 88606, United States
                </p>
                <p style="margin-top: 8px; margin-bottom: 0px">
                  <a
                    href="https://ontezo.com/ontezo-terms"
                    style="
                      color: #007bff;
                      text-decoration: none;
                      margin-right: 10px;
                    "
                    >Terms of use</a
                  >
                  |
                  <a
                    href="https://ontezo.com/privacy-policy"
                    style="
                      color: #007bff;
                      text-decoration: none;
                      margin-left: 10px;
                    "
                    >Privacy Policy</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
